@import "tailwindcss";
h1 {
  font-size: 2rem;
  font-weight: 700;
}

.mapboxgl-popup-close-button {
  font-size: 1.5rem !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  color: #374151 !important;
}

/* .mapboxgl-popup-content {
  border-radius: 0.75rem !important;
} */

@taiwind component;

@layer components {
  .button {
    @apply mx-2 px-4 py-2 border rounded-full cursor-pointer hover:shadow-xl
                active:scale-95 transition transform duration-200 ease-out border-gray-200;
  }
}
